
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.weaknessBox{
    border: 2px solid black;
    border-radius: 5px;
    width: 750px;
    height: calc(100vh / 2.45);
    margin-bottom: 30px;
}

.effectiveBox{
    background-color: hsl(240, 54%, 84%);
    vertical-align: top;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 250px;
    height: calc(100vh / 6.5);
    padding: 20px;
    margin-bottom: 4px;
}

.effectiveBox.noEffect{
    height: calc(100vh / 16);
}

.effectiveText{
    font-weight: bolder;
}

.weaknessText{
    display: block;
}

#invalidMsg{
    display: none;
}

#typeImg{
    margin-top: 30px;
    margin-bottom: 20px;
}